:root {
  --first-color: #d3f1df;
  --second-color: #85a98f;
  --third-color: #5a6c57;
  --forth-color: #525b44;
}

.demo-body {
  background-color: var(--third-color);
}

.Demo-data {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 5px;
  margin: 8px 5px;
}

.Demographic-search {
  gap: 10px;
  justify-content: center;
  background-color: va;
}

.input-btn,
.Demo-content {
  margin-top: 2%;
}

.input-btn input {
  border-radius: 10px;
  text-align: center;
  background-color: rgb(236, 242, 242);
  border: none;
  width: 450px;
}

.input-btn button {
  padding: 10px;
  margin-left: 20px;
  border-radius: 15px;
  width: 100%;
  border: none;
  background-color: aliceblue;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.input-btn button:hover {
  background-color: antiquewhite;
}

.Demo-content {
  font-size: 2.5rem;
  color: rgb(239, 217, 217);
  margin-right: 10px;
}

.DataofAll {
  border: 2px solid rgb(209, 200, 200);
  border-radius: 10px;
  height: 300px;
  width: 317px;
  margin-top: 1px;
}

.DataofAll ul {
  margin-top: 5px;
  margin-left: 15px;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.DataofAll ul li {
  margin-top: 15px;
  padding: 15px;
}

.DataofAll strong {
  font-size: 1.3rem;
  color: #d3f1df;
}

.demo-footer {
  background-color: var(--second-color);
  padding: 20px;
}

.demo-footer h1 {
  font-size: 2rem;
  margin-bottom: 15px;
  color: #d3f1df;
}

.demo-footer p {
  font-size: larger;
  font-style: italic;
  margin-inline: 20px;
  color: #b1cfbd;
  margin-bottom: 20px;
}

.demo-footer h2 {
  font-size: 1.5rem;
  color: #b1cdbc;
  margin-bottom: 14px;
}

.demo-footer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.demo-footer strong {
  font-size: 1.1rem;
  padding: 15px;
  color: #041c0e;
}

.demo-footer ul li {
  font-weight: 600;
  color: #617468;
}

.Chart-container {
  height: 350px;
  width: 400px;
  margin-top: 20px;
}

.Chart-container-- {
  width: 350px;
  height: 300px;
}
