.global-trade-section {
  display: flex;
}

/*----------------- Utility ---------------------*/

/* Glob */

.Glob {
  gap: 15px;
}

.Glob-First {
  width: 50%;
}

.Glob-second {
  width: 50%;
}

.Glob-First ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.Glob-First strong {
  font-size: 1.1rem;
  color: rgb(173, 207, 196);
}

.Glob-First li {
  color: rgb(13 31 31);
}

.Glob-First h1 {
  font-size: 2rem;
  color: azure;
}

.Glob-First p {
  font-size: 1.2rem;
  padding: 5px;
  font-weight: 500;
  color: rgb(218, 234, 234);
}

/*--challenge---*/

.challeng-header {
  text-align: center;
  font-size: 2rem;
  color: rgb(171, 160, 140);
}

.challenge-- {
  display: flex;
  gap: 20px;
}

.challenge-first {
  width: 50%;
}
.challenge-second {
  width: 50%;
}

/*----future--------*/

.Future {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 20px;
}

.Future p {
  font-size: 1.2rem;
  color: rgb(22 25 25);
}

.Future h1 {
  font-size: 2rem;
}

/*----Economic-impact----------*/

.Economic--- {
  gap: 20px;
}

.Economic---head {
  font-size: 2rem;
  color: rgb(22, 4, 4);
  text-align: center;
  margin-bottom: 20px;
}

.Economic-impact-1 {
  width: 60%;
}

.Economic-impact-1 ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}

.Economic-impact-1 ul li {
  font-size: 1.1rem;
  color: rgb(17, 9, 9);
}

.Economic-impact-1 strong {
  font-size: 1.3rem;
  color: rgb(17, 9, 9);
}

.Economic-impact-1 p {
  padding: 6px;
  color: rgb(209, 201, 201);
}

.Economic-impact-2 {
  width: 40%;
}

/*----"Impact-Business"-----*/

.Business--- {
  gap: 20px;
}

.Impact-business-head {
  font-size: 2rem;
  color: rgb(22, 4, 4);
  margin-top: 10px;
}
.Impact-Business-1 {
  width: 60%;
}

.Impact-Business-2 {
  width: 40%;
}

.Impact-Business-1 p {
  padding: 6px;
  color: rgb(209, 201, 201);
}

.Impact-Business-1 ul li {
  font-size: 1.1rem;
  margin-top: 10px;
  color: rgb(17, 9, 9);
}

.Impact-Business-1 strong {
  font-size: 1.3rem;
  color: rgb(17, 9, 9);
}
